<a href="https://colab.research.google.com/github/Tamilb86/Pandas/blob/main/pandas_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create an Empty Series

In [ ]:
import pandas as pd
s = pd.Series()
print (s)

Series([], dtype: float64)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

Creat a Series from ndarray

In [ ]:
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [ ]:
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(data)

['a' 'b' 'c' 'd']

In [ ]:
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(['a','b','c'])
print(s)

0    a
1    b
2    c
dtype: object

Example -2

In [ ]:
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

5 value 4 index it will shoe error

In [ ]:
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103,104])
print(s)

ValueError: ignored

Create a Series from dict

In [ ]:
import pandas as pd
import numpy as np
data = {'a':0.,'b':1.,'c':2.,}
s = pd.Series(data)
print(s)

a    0.0
b    1.0
c    2.0
dtype: float64

Retrieve Data Using Lable (index)

In [ ]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print (s['a'])

1

in print 2 elements it will show error

In [ ]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print (s['a','b'])

KeyError: ignored

in print 2 elements or 3 we can do with double list

In [ ]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print (s[['a','b','c']])

a    1
b    2
c    3
dtype: int64

Create an Empty data Frame

In [ ]:
import pandas as pd
df = pd.DataFrame()
print (df)

Empty DataFrame
Columns: []
Index: []

Create a DataFrame from List

In [ ]:
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print (df)

   0
0  1
1  2
2  3
3  4
4  5

Example - 2

In [ ]:
import pandas as pd
data = [['Guvi1',10],['guvi2',12],['guvi3',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

    Name  Age
0  Guvi1   10
1  guvi2   12
2  guvi3   13

Example - 3

In [ ]:
import pandas as pd
data = [['Guvi1',10],['guvi2',12],['guvi3',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print (df)

    Name   Age
0  Guvi1  10.0
1  guvi2  12.0
2  guvi3  13.0

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
import pandas as pd
data = {'Name':['syed','Jack','ram','Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print (df)

    Name  Age
0   syed   28
1   Jack   34
2    ram   29
3  Ricky   42

In [ ]:
import pandas as pd
data = {'Name':['syed','Jack','ram','Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print (df)

        Name  Age
rank1   syed   28
rank2   Jack   34
rank3    ram   29
rank4  Ricky   42